body{
    background-color: black;
}

*{
    margin: 0;
    padding: 0;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    color: white;
    background-color: rgba(43, 41, 41, 0.884)  ;
}

nav ul li{
    padding: 0 12px;
}
.brand img{
    height: 60px;
    width: 60px;
    padding: 0 8px;
}

.brand{
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    padding-left: 10px;
}

.container ul{
    display: flex;
    list-style-type: none;
}

.container ul li{
    display: flex;
}

.playlist img{
    display: flex;
    padding: 0 100px;
    padding-top: 100px; 
    background-color: black;  
}

.title{
    display: flex;
    font-size: 0.7rem;
    color: white;
    padding: 30px 120px;
    background-color: black;
}

.container{
    background-color: black;
    color: wheat;
    
}


.bottom{
   /* position: sticky;*/
    height: 80px;
    background-color: whitesmoke;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    flex-direction:column;
    
}

#myProgressBar{
    width: 80vh;   
    cursor: pointer;
}

.playlist{
    float: left;
}
.box{
    background-color: bisque;

    width: 1150px;
    /*float: left;*/

}

.box ul li{
    display: flex;
    color: white;
    font-weight: bold;
    font-size: 2rem;
    padding: 20px 120px;
}

.songItem{
    background-color: black;
    
    
}

.songItem ul li{
    
    font-size: 1.3rem;
    color: bisque;
    padding: 20px 120px;
    
}

.icons{
    
}
.icons i{
    cursor: pointer;
}





